<!--
// -----------------------------------------------------------------------
// <copyright file="Contact.cshtml" company="Microsoft Corporation">
    // Copyright (c) Microsoft Corporation
    // All rights reserved.
    // THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
    // KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
    // IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
    // PARTICULAR PURPOSE.
    //
</copyright>
//-----------------------------------------------------------------------
-->

@{
    ViewData["Title"] = "Contact";
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
        <small>@ViewData["Message"]</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!--------------------------
    | Your Page Content Here |
    -------------------------->

    <address>
        <strong>Support:</strong> <a href="mailto:searchcoe@shell.com">SearchCOE@shell.com</a><br />

    </address>
</section>
<cite>Microsoft Corporation</cite>