<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>SPOCPI - @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- JQuery UI -->
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!--DataTables css-->
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.css">
    <!--gijgo css-->
    <link rel="stylesheet" type="text/css" href="~/lib/gijgo/css/gijgo.min.css">
    <!--spocpi css-->
    <link rel="stylesheet" type="text/css" href="~/css/spocpi.css?releaseVersion=18102021">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="~/home" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img class="logo" src="/images/SP-Logo.png"></span>
                <!-- logo for regular state and mobile devices -->
                @*<b>SPOCPI</b>*@
                <span class="logo-lg"><img class="logo-lg" src="~/images/SP-Logo.png" /></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <!-- <partial name="_UserPanelPartial" />  -->
                <!-- Sidebar Menu -->
                <partial name="_MainMenu" />
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong></strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
     <!--Popper js-->
    <script type="text/javascript" src="~/bower_components/popper/dist/umd/popper.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!--DataTables-->
    <script type="text/javascript" charset="utf8" src="~/lib/DataTables/datatables.js"></script>
    <!--DataTables AltEditor-->
    <script type="text/javascript" charset="utf8" src="~/lib/AltEditor/dataTables.altEditor.free.js"></script>
    <!--Moment js-->
    <script type="text/javascript" src="~/lib/moment/moment.min.js"></script>
    <!--URL polyfill IE 11-->
    <script type="text/javascript" src="~/js/url-polyfill.min.js"></script>
    <!--Gijgo multiselect dropdown js-->
    <script type="text/javascript" src="~/lib/gijgo/js/gijgo.min.js"></script>
   
    <!--Site js-->
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>