<ul class="sidebar-menu" data-widget="tree">
    <li><a href="~/Home"><i class="fa fa-dashboard"></i> <span>Home</span></a></li>
    <li><a href="~/sub/index"><i class="fa fa-table"></i> <span>Subscriptions</span></a></li>
    <li><a href="~/tracking/index"><i class="fa fa-table"></i> <span>Tracking</span></a></li>
    <li><a href="~/Home/Documentation"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
    <li><a href="~/tables/Configuration"><i class="fa fa-table"></i> <span>Configuration</span></a></li>
    <li><a href="~/tables/Notification"><i class="fa fa-envelope"></i> <span>Notifications</span></a></li>
</ul>