<!--
// -----------------------------------------------------------------------
// <copyright file="AccessDenied.cshtml" company="Microsoft Corporation">
    // Copyright (c) Microsoft Corporation
    // All rights reserved.
    // THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
    // KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
    // IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A
    // PARTICULAR PURPOSE.
    //
</copyright>
//-----------------------------------------------------------------------
-->

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h3 class="text-danger">You do not have permission to view this resource</h3>
    <img src="~/images/accessc-denied.jpg" style="height:300px; width:300px" />
</div>

